<%= simple_form_for @instrument do |f| %>
  <h3>What kind of instrument is it?</h3>
  <%= f.input :type %>
  <h3>How old is the instrument?</h3>
  <%= f.input :age, label: "Age" %>
  <h3>What size is the instrument?</h3>
  <%= f.input :size, collection: ["4/4", "3/4", "1/2", "1/4", "1/8", "1/10", "1/16", "1/32"] %>
  <h3>Who's loaning the instrument out?</h3>
  <%= f.input :organization, label: "Organization" %>
  <h3>The next three boxes are for the person currently borrowing the instrument</h3>
  <%= f.input :borrower_first_name, label: "First Name" %>
  <%= f.input :borrower_last_name, label: "Last Name" %>
  <%= f.input :borrower_email, label: "Email" %>
  <h3>What's the history of the instrument? Where was it made? Who's played on it? Where's it been?</h3>
  <%= f.input :story, label: "History" %>
  <%= f.submit %>
<% end %>
