<h1><%= @instrument.type %> id#<%= @instrument.id %></h1>

<hr>

<strong>Size: </strong>
<%= @instrument.size %>

<strong>Age: </strong>
<%= @instrument.age %>

<strong>Organization: </strong>
<%= @instrument.organization %>

<strong>History: </strong>
<%= @instrument.story %>

<strong>Borrower's First Name: </strong>
<%= @instrument.borrower_first_name %>

<strong>Borrower's Last Name: </strong>
<%= @instrument.borrower_last_name %>

<strong>Borrower's Email: </strong>
<%= @instrument.borrower_email %>
